.single-review {
    position: relative;
    height: 390px;
    width: 304px;
    text-align: left;
}
.single-review .content {
    padding: 25px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 65.97%, rgba(255, 255, 255, 0.3) 94.38%);
}
.rating {
    background: rgba(246, 170, 38, 0.3);
    padding: 2px 7px;
    color: black;
}
.review1 {
    background-image: url('../images/Rectangle\ 38.png');
}
.review2 {
    background-image: url('../images/Rectangle\ 38\ \(1\).png');
}
.review3 {
    background-image: url('../images/Rectangle\ 38\ \(2\).png');
}
.review4 {
    background-image: url('../images/Rectangle\ 38\ \(3\).png');
}
.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #171732;
}
.position {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.13em;
    color: #171732;
}
#facts .container, #meeting .container {
    background: #F4F5FB;
}
.logo-circle {
    height: 80px;
    width: 80px;
    border: 1px solid #F6AA26;
    border-radius: 999px;
}
.logo-circle i {
    padding: 22px;
    color: #F6AA26;
    line-height: 36px;
    font-size: 36px;
    font-weight: 300;
}
#whatwedo {
    position: relative;
    margin-top: 100px;
    background: #163256;
    overflow: hidden;
    color: white
}
.placeholder-image {
    height: 100%;
}
#whatwedo .container {
    padding: 100px 0
}
#whatwedo .subtitle {
    color: white
}
.facts {
    width: 80%;
    margin-top: 25px
}
.facts .values {
    color:#F6AA26;
    font-size:48px;
    line-height:58px;
    padding-left:17px;
    padding-top:30px;
    font-weight: 600;
}
.facts .title {
    padding-top: 15px;
    color: #9497AB;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.history-year {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-right: 75px;
    color: #171732;
}
.list-style {
    width: 25px;
    height: 0;
    border: 2px solid #F6AA26;
    margin-top: 10px;
    margin-right: 15px
}